<h1>Twoursquare is a simple mashup of the Twilio and Foursquare APIs.</h1>
<p>To get started using Twoursquare, simply click the Connect to Foursquare button below. Once you've authorized the app, you'll be given a phone number you can use to check in by phone.</p>
<div id="connect"><%= link_to image_tag("connect-blue.png"), "/auth/foursquare" %></div>
