<!DOCTYPE html>
<html>
<head>
  <title>Twoursquare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="logos">
      <div id="tw_logo"></div>
      <div id="oursquare_logo"></div>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  <div>
</body>
</html>
